# Backend
PORT=4000
MONGO_URI=mongodb+srv://maskiryz23_db_user:3vcvYiRiIAGuobhc@lms.9nsgr2b.mongodb.net/?appName=lms
JWT_SECRET=a97aeab134382c9596286a261685f4f94deec72cca85127a4508f9d6ac6f6a06
CLIENT_ORIGIN=http://localhost:5173

# Optional SMTP (Gmail App Password recommended)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=nusainspirateknologi@gmail.com
SMTP_PASS=norq xxrz phtx zobk
SMTP_FROM="Inspira Sumpah <nusainspirateknologi@gmail.com>"
